.main {
  margin-top: 65px;
  width: 100vw;
}

.main h2 {
  width: 100%;
  height: 110px;
  font-size: 24px;
  font-weight: 400;
  color: #293845;
  display: flex;
  justify-content: center;
  align-items: center;
}

.films {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.film {
  width: 40%;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.film img {
  width: 100%;
  height: 100%;
}
