.main-seats {
  margin-top: 65px;
  margin-bottom: 130px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-seats h2 {
  width: 100%;
  height: 110px;
  font-size: 24px;
  font-weight: 400;
  color: #293845;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seats {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.seat {
  width: 6vw;
  height: 6vw;
  margin: 1vw;
  border-radius: 50%;
  font-size: 3vw;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat.available {
  background-color: #c3cfd9;
  border: 1px solid #808f9d;
}

.seat.selected {
  background-color: #aabff7;
  border: 1px solid #1a4eae;
}

.seat.unavailable {
  background-color: #fbe192;
  border: 1px solid #f7c52b;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.wrapper p {
  font-size: 13px;
  font-weight: 400;
  color: #4e5a65;
}

.main-seats a button {
  display: flex;
  width: 230px;
  height: 40px;
  text-decoration: none;
  background-color: #e8833a;
  border-radius: 3px;
  border: 1px solid #e8833a;
  color: white;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form div {
  width: 90%;
  margin: 10px auto;
}

form p {
  font-size: 18px;
  font-weight: 400;
  color: #293845;
}

input {
  width: 95%;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
}

input::placeholder {
  font-style: italic;
  color: #afafaf;
}
